body{
	font-family: "Roboto", sans-serif;
}
blockquote{
	font-size: 20px !important;
	color: white;
	padding: 10px 40px;
	position: relative;
	line-height: 1.6;
	width: 100%;
	background: blue;
}
blockquote:before{
	font-family: arial;
	content: "\201C";
	color: #fff;
	font-size: 6rem;
	position: absolute;
	left: 0;
	top: -15px;
}
.blockquote-footer{
	color: white !important;
	font-style: italic;
	font-weight: bold;
}